@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); .notosanskr * { font-family: 'Noto Sans KR', sans-serif; }

body{
  font-family: 'Noto Sans KR';
}
a {
  cursor : hand;
}
.steemit-logo{
  color:#028523 !important;font-weight:bold;
}
.logo1{
  color:#06d6a9 !important;font-weight:bold;
}
.logo2{
  color:#69A9EC !important;font-weight:bold;
}
.logo3{
  color:#FF94B0 !important;font-weight:bold;
}
.input-group-addon.primary {
  color: rgb(255, 255, 255);
  background-color: rgb(50, 118, 177);
  border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
  color: rgb(255, 255, 255);
  background-color: rgb(92, 184, 92);
  border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
  color: rgb(255, 255, 255);
  background-color: rgb(57, 179, 215);
  border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
  color: rgb(255, 255, 255);
  background-color: rgb(240, 173, 78);
  border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
  color: rgb(255, 255, 255);
  background-color: rgb(217, 83, 79);
  border-color: rgb(212, 63, 58);
}
.input-group-addon.white {
  color: black;
  background-color: white;
  border-color: white;
}